.grid
  %div
    .check_box
      = f.check_box :required
      = f.label :required
  %div
    .check_box
      = f.check_box :disabled
      = f.label :disabled

  %div
    .label.top #{t :minlength}
    = f.text_field :minlength

  %div
    .label.top #{t :maxlength}
    = f.text_field :maxlength


  %div
    = f.label :hint, class: "label top"
    = f.text_field :hint

  %div
    = f.label :placeholder, class: "label top"
    = f.text_field :placeholder

  %div
    = f.label :title, class: "label top"
    = f.text_field :title

