.grid
  %div
    %label.check_box
      = f.check_box :required
      %span #{t :required}
    %br
    %label.check_box
      = f.check_box :disabled
      %span #{t :disabled}

  %div
    .label.top #{t :hint}
    = f.text_field :hint

  %div
    .label.top #{t :title}
    = f.text_field :title

  %div
    .label.top #{t :placeholder}
    = f.text_field :placeholder
