- field1 = f.object || CustomFieldPair.new
- field2 = (field1.pair || CustomFieldPair.new)

.grid{class: :pairs}
  = fields_for("pair[0]", field1) do |first|
    = fields_for("pair[1]", field2) do |second|
      %div
        .label.top #{t :hint}
        = first.text_field :hint
      %div
        .label.top #{t :title}
        = first.text_field :title
      %div
        .label.top #{t :placeholder}
        = first.text_field :placeholder
      %div
        .label.top
          %label.check_box
            = first.check_box :required
            %span #{t :required}

          %br
          %label.check_box
            = first.check_box :disabled
            %span #{t :disabled}

          = first.hidden_field :id
          = second.hidden_field :id
