.grid
  .row-full-width
    .label.top.req
      = "Select Options (pipe separated):"
    = f.text_field :collection_string, class: 'field_collection_string', required: true

  %div
    .label.top
      %label.check_box
        = f.check_box :required
        %span #{t :required}

      %br
      %label.check_box
        = f.check_box :disabled
        %span #{t :disabled}
  %div
    .label.top #{t :hint}
    = f.text_field :hint

  %div
    .label.top #{t :placeholder}
    = f.text_field :placeholder

  %div
    .label.top #{t :title}
    = f.text_field :title
