= hook(:opportunity_top_section, self, f: f) do
  .section
    .grid
      %div{class: (@opportunity.errors['name'].present? ? 'fieldWithErrors' : nil)}
        .label.req.top #{t :name}:
        = f.text_field :name, autofocus: true, required: "required"

      %div
        .label.req.top #{t :stage}:
        = f.select :stage, @stage, { selected: @opportunity.stage ? @opportunity.stage.to_sym : nil }, { class: 'select2' }


    .grid.grid-4-columns
      %div
        .label #{t :close_date}:
        = f.date_field :closes_on, value: f.object.closes_on, autocomplete: :off

      %div
        .label #{t :probability} (%):
        = f.text_field :probability

      %div
        .label #{t :amount} (#{t :currency}):
        = f.text_field :amount

      %div
        .label #{t :discount} (#{t :currency}):
        = f.text_field :discount

    = fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :access
      = a.hidden_field :assigned_to
      .grid

        %div
          != account_select_or_create(a) do |options|
            -# Add [-- None --] account choice when editing existing opportunity that has an account.
            - options[:selected] = @account.id.to_i

        %div
          .label.req #{t :assigned_to}:
          = user_select(:opportunity, all_users, current_user)

        %div
          .label #{t :campaign}:
          = opportunity_campaign_select(selected: (@campaign.try(:id) || @opportunity.campaign_id), include_blank: true)

        - if Setting.background_info && Setting.background_info.include?(:opportunity)
          .row-full-width
            .label= t(:background_info) + ':'
            = f.text_area :background_info, rows: 3

        = render partial: "/shared/tags", locals: {f: f, span: 3, grid: true}

        = hook(:opportunity_top_section_bottom, self, f: f)
