- edit ||= false
- collapsed = session[:campaign_objectives].nil? # && @campaign.errors.empty?
= subtitle :campaign_objectives, collapsed, t(:objectives)
.section
  %small#campaign_objectives_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:objectives_small)) unless edit
  #campaign_objectives{ hidden_if(collapsed) }
    %small
      #{t :objectives_help}
    .grid.grid-4-columns

      %div
        .label #{t :number_of_leads}:
        = f.text_field :target_leads

      %div
        .label #{t :conversion_label}:
        = f.text_field :target_conversion

      %div
        .label #{t :revenue_label, currency: t(:currency)}:
        = f.text_field :target_revenue, value: @campaign.target_revenue ? @campaign.target_revenue.to_i : ""

      %div
        .label #{t :budget_label, currency: t(:currency)}:
        = f.text_field :budget, value: @campaign.budget ? @campaign.budget.to_i : ""

      .row-full-width
        .label #{t :objectives}:
        = f.text_area :objectives, rows: 3
