= hook(:campaign_top_section, self, f: f) do
  .section
    .grid
      %div{class: (@campaign.errors['name'].present? ? 'fieldWithErrors' : nil)}
        .label.top.req #{t :name}:
        = f.text_field :name, autofocus: true, required: "required"

      %div
        .label #{t :status}:
        = f.select :status, Setting.unroll(:campaign_status), { selected: (@campaign.status || "planned").to_sym }, { class: 'select2' }

      %div
        .label #{t :start_date}:
        = f.text_field :starts_on, value: f.object.starts_on, autocomplete: :off, class: 'date'

      %div
        .label #{t :end_date}:
        = f.text_field :ends_on, value: f.object.ends_on, autocomplete: :off, class: 'date'


      - if Setting.background_info && Setting.background_info.include?(:campaign)
        .row-full-width
          .label= t(:background_info) + ':'
          = f.text_area :background_info, rows: 3

      = render partial: "/shared/tags", locals: {f: f, span: 5, grid: true}

      = hook(:campaign_top_section_bottom, self, f: f)
