- edit ||= false
- collapsed = false
= subtitle :account_contact, collapsed, t(:contact_info)
.section
  %small#account_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:account_small)) unless edit
  #account_contact{ hidden_if(collapsed) }
    .grid
      %div
        .label #{t :phone_toll_free}:
        = phone_field_with_pattern(f, :toll_free_phone)
      %div
        .label #{t :phone}:
        = phone_field_with_pattern(f, :phone)
      %div
        .label #{t :fax}:
        = phone_field_with_pattern(f, :fax)
      
      %div
        .label.top #{t :website}:
        = f.url_field :website

      %div
        .label.top Email:
        = f.email_field :email

    .grid
      %div
        = render "shared/address", f: f, asset: @account, type: :billing, title: :billing_address

      %div
        = render "shared/address", f: f, asset: @account, type: :shipping, title: :shipping_address, same_as_billing: true

    .grid
      %div
        .label.top Latitude:
        = f.text_field :latitude, pattern: "^-?\\d+(\\.\\d+)?$"

      %div
        .label.top Longitude:
        = f.text_field :longitude, pattern: "^-?\\d+(\\.\\d+)?$"