= hook(:account_top_section, self, f: f) do
  .section
    .grid

      .row-full-width{class: (@account.errors['name'].present? ? 'fieldWithErrors' : nil)}
        .label.top.req #{t :name}:
        = f.text_field :name, autofocus: true, required: "required"

      %div
        .label #{t :assigned_to}:
        = user_select(:account, User.without_user(current_user), current_user)

      %div
        .label #{t :category}:
        = f.select :category, Setting.unroll(:account_category), { selected: (@account.category || "other").to_sym, include_blank: t(:other) }, { style: "width:160px", class: 'select2', placeholder: t(:other) }

      %div
        .label #{t :rating}:
        = rating_select "account[rating]", { id: :account_rating, selected: @account.rating, class: 'select2' }

      %div
        .label #{t :wikidata_id}:
        = f.text_field :wikidata_id, pattern: 'Q\d+', title: t(:wikidata_id_title), placeholder: "Q1345234"

      - if Setting.background_info && Setting.background_info.include?(:account)
        .row-full-width
          .label= t(:background_info) + ':'
          = f.text_area :background_info, rows: 3

      = render partial: "/shared/tags", locals: {f: f, span: 3, grid: true}

      = hook(:account_top_section_bottom, self, f: f)
