- edit ||= false
- collapsed = session[:account_presence].nil?
= subtitle :account_presence, collapsed, t(:web_presence)
.section
  %small#account_presence_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:web_presence_small)) unless edit
  #account_presence{ hidden_if(collapsed) }
    .grid
      %div
        .label.top #{t :blog}:
        = f.text_field :blog

      %div
        .label.top #{t :twitter}:
        = f.text_field :twitter

      %div
        .label #{t :linked_in}:
        = f.text_field :linkedin

      %div
        .label #{t :facebook}:
        = f.text_field :facebook

      %div
        .label #{t :instagram}:
        = f.text_field :instagram

      %div
        .label #{t :mastodon}:
        = f.text_field :mastodon

      %div
        .label #{t :bluesky}:
        = f.text_field :bluesky
